version: "3.9"
services:
  nginx:
    container_name: nginx
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
        - 80:80
    depends_on:
        - main
  main:
    build:
      context: .
      dockerfile: Dockerfile
  appointment:
    build:
      context: .
      dockerfile: Dockerfile.appointment
  inventory:
    build:
      context: .
      dockerfile: Dockerfile.inventory
  infra:
    build:
      context: .
      dockerfile: Dockerfile.infra
  authentication:
    build:
      context: .
      dockerfile: Dockerfile.authentication