:root {
    --normal-shade: #26a69a;
    --lightr-shade: #4cd0c3;
    --back-shade: #c5e5e2;
    --box-color: rgba(255, 255, 255, 0.82);
}

html {
    height: 100vh;
}

body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--back-shade);
}

#just-img {
    position: absolute;
    height: 700px;
    width: 1200px;
    background-image: url("/static/03.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position-x: -20%;
    background-position-y: 20%;
    left: -10vw;
    bottom: 0;
}

#main {
    z-index: 100;
}

#add_item, .profile-main, #vac-text
{   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 620px;
    display: flex;
    flex-direction: column;
    padding: 12px 24px 24px 24px;
    margin: 32px auto;
    z-index: 1;
    background-color: var(--box-color);
    position: relative;
}

#find_loc {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 450px;
    display: flex;
    flex-direction: column;
    padding: 12px 24px 24px 24px;
    margin: 40px auto;
    z-index: 1;
    background-color: var(--box-color);
    position: relative;
}

#login-container, #password-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 450px;
    background-color: var(--box-color);
    position: relative;
}

.card .card-action {
    background-color: var(--box-color);
}

#newuser-container {
    background-color: rgba(255, 255, 255, 0.9);
}

#find_loc_heading{
    padding:0px;
    margin: 0px;
    text-align: center;
}

nav{
    background-color: #26a69a;
}

nav ul a {
    font-size: 1.4rem;
}

.right-row {
    min-width: 40px;
    text-align: center;
    min-height: 92px;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    margin-left: auto;
    background: #eee;
}

.card-horiz {
    display: flex;
    flex-flow: row;
}

.upvote, .downvote {
    margin: auto;
    cursor: pointer;
    display: flex;
}

.upvote .material-icons, .downvote .material-icons {
    font-size: 32px;
}

.upvote:hover, .downvote:hover {
    transform: scale(1.1);
}

.color-green {
    color: #07ff07;
}

.color-red {
    color: red;
}

.color-blue {
    color: var(--normal-shade);
}



.card .card-action {
    padding: 6px 12px;
}

.card .card-content {
    padding: 12px;
}

.card-head {
    font-size: 1.48rem;
    color: rgb(22, 22, 22);
    cursor: pointer;
}

.profile-main{
    width:80%;
    height:100vh;
    max-width: 1500px;
    margin-top: 0;
}

#leads-show {
    margin-top: 32px;
}

.my-loc-icon {
    vertical-align: bottom;
    font-size: 20px;
}

.edit-item, .remove-item {
    margin: auto;
    cursor: pointer;
}

.profile-link {
    color: #313131;
    cursor: pointer;
}

.profile-link:hover {
    text-decoration: underline;
}
