{% extends 'layouts/base.html' %}

<!-- Profile.html for reference -->

{% block css %}

<style>
  @import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");

  .main-profile {
    display: flex;
    justify-content: center;
    z-index: 100;
    position: relative;
  }

  .asked {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    max-width: 777px;
    flex-direction: column;
    background-color: var(--box-color);
    padding: 48px;
    margin: 32px 12px;
    border-radius: 33px;
    width: 100%;
  }

  .asked_profile {
    display: flex;
    align-items: center;
  }

  .asked_profile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .asked_profile-content h3 {
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
  }

  .asked_profile-content button {
    border: 2px solid #0f1c52;
    background-color: transparent;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 7px;
  }

  .asked_profile-content button:hover {
    color: white;
    transition-duration: 350ms;
  }

  .asked_footer ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 16px;
    border-top: 2px solid #ccd1e6;
    border-bottom: 2px solid #ccd1e6;
  }

  .asked_footer ul li {
    display: inline-flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 18px 15px;
    cursor: pointer;
  }

  .asked_footer ul li:hover {
    transition-duration: 300ms;
  }

  .asked_footer ul li:last-child .down {
    margin-left: 11px;
  }

  #profile-tab {
    width: 100%;
  }

  /* Style tab links */
  .tablink {
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
    background-color: var(--lightr-shade);
  }

  .tablink:hover {
    background-color: var(--normal-shade);
    ;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    padding: 32px 20px;
    height: 100%;
  }

  .rating {
    color: orange;
  }

  .rating-input {
    color: orange;
    cursor: pointer;
  }

  .profile-right {
    text-align: right;
    margin-top: 32px;
  }
</style>

{% endblock %}

{% block body %}
<div class="main-profile">
  <div class="asked">

    DASHBOARD

    <div class="asked_footer">
      <ul>
        <li><button class="tablink" onclick="openPage('Home', this)" id="defaultOpen">Profile</button></li>
        <li><button class="tablink" id="leads-tab" onclick="openPage('About', this)"> Leads Added </button></li>
        <li><button class="tablink" id="leads-tab" onclick="openPage('About', this)"> Leads Added </button></li>
      </ul>
    </div>

    <div>

      <div id="Home" class="tabcontent">
        <div class="profile-content row">
          <div class="profile-left col s6">
            <div class="asked_profile">
              <div class="asked_profile-content">
                <img src="" id="pp" style="width:100%">
                <h3 id="show-name-here" style="margin-bottom: 4px;"></h3>
                <div class="rating"></div>
              </div>
            </div>
            <p id="show-phone-here"> <i class="material-icons prefix" style="vertical-align: middle;">phone</i></p>
          </div>
          <div class="profile-right col s6">
            <div id="rat-inp-con">
              Ratings given by me
              <div class="rating-input"></div>
            </div>
          </div>
        </div>
      </div>

      <div id="About" class="tabcontent">
        <h3>Leads</h3>
        <div id="profile-leads"></div>
      </div>
    </div>

  </div>



</div>


{% endblock %}

{% block js %}

<script>

  const allMedsData = [
    {
      id: "some unique 1",
      item_name: "paracetemol",
      quantity: 10,
      price: "Rs 100"
    },
    {
      id: "some unique 2",
      item_name: "Dolo 650",
      quantity: 7,
      price: "Rs 50"
    },
  ];

  const allDoctorsData = [
    {
      username: "doc_username1",
      doctor_name: "doc NAme",
      degree: "Desgree",
      medical_profession: "Helo",
      phone_no: "9811417932"
    },
    {
      username: "doc_username2",
      doctor_name: "doc NAme",
      degree: "Desgree",
      medical_profession: "Helo",
      phone_no: "9811417932"
    },
    {
      username: "doc_username3",
      doctor_name: "doc NAme",
      degree: "Desgree",
      medical_profession: "Helo",
      phone_no: "9811417932"
    }
  ];

  const bedsAllData = [
    {
      hospital_id: "value",
      room_no: "value",
      patient_id: "value"
    },
    {
      hospital_id: "value",
      room_no: "value",
      patient_id: "value"
    }
  ]


  if (location.hash == "#About") {
    document.getElementById("leads-tab").click();
  } else if (location.hash == "#") {
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  }


  function openPage(pageName, elmnt) {
    console.log("Open page callsed");

    // Hide all elements with class="tabcontent" by default */
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    location.hash = pageName;

    // Remove the background color of all tablinks/buttons
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].style.backgroundColor = "";
    }

    // Show the specific tab content
    document.getElementById(pageName).style.display = "block";

    // Add the specific color to the button used to open the tab content
    elmnt.style.backgroundColor = "#26a69a";
  }

  const db = firebase.firestore();
  const username = "{{username}}";
  const isMe = "{{ isMe }}";
  const loginuser = "{{ loginuser }}";

  var leadsData = [];



</script>
{% endblock %}