{% extends 'layouts/base.html' %}

<!-- Profile.html for reference -->

{% block css %}

<link rel="stylesheet" href="/static/frontend/css/dashboard.css">

{% endblock %}

{% block body %}
<div class="main-profile">
  <div class="asked">

    <div class="center"> Doctor Dashboard </div>

    <div class="asked_footer">
      <ul>
        <li><button class="tablink" onclick="openPage('Appointments', this); " id="defaultOpen">Appointments</button>
        </li>

      </ul>
    </div>

    <div>
      <div class="doctor" id="Appointments">
        <!-- Cards will be added here by javascript -->

        <div class="progress">
          <div class="indeterminate"></div>
        </div>

        <div id="open_appointments"></div>

        <div id="closed_appointments"></div>

      </div>
    </div>

  </div>



</div>


{% endblock %}

{% block js %}

<script>
  let show_meds = false, show_beds = false, show_doctors = false;
  if (location.hash == "#About") {
    document.getElementById("leads-tab").click();
  } else if (location.hash == "#") {
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  }


  function openPage(pageName, elmnt) {
    console.log("Open page callsed");

    // Hide all elements with class="tabcontent" by default */
    // var i, tabcontent, tablinks;
    // tabcontent = document.getElementsByClassName("tabcontent");
    // for (i = 0; i < tabcontent.length; i++) {
    //   tabcontent[i].style.display = "none";
    // }

    location.hash = pageName;

    // Remove the background color of all tablinks/buttons
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].style.backgroundColor = "";
    }

    // Show the specific tab content
    document.getElementById(pageName).style.display = "block";

    // Add the specific color to the button used to open the tab content
    elmnt.style.backgroundColor = "#26a69a";
  }

  const username = "{{username}}";
  const isMe = "{{ isMe }}";
  const loginuser = "{{ loginuser }}";

  var leadsData = [];

  // toggle function
  var data = {
    userid: username
  }
  var payload = {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
  }
  fetch(`/appointments/show_appointments`, payload)
    .then(res => res.json())
    .then(data => {
      console.log("all appointments data", data);
      const showappointments = data.open_appointments;
      console.log(showappointments);
      let showappointmentsHTML = `<div id="open_appointments"> <h5> Open Appointments </h3>`;

      for (let i = 0; i < showappointments.length; i++) {
        showappointmentsHTML += `
    <a href="/appointment/${data.open_appointments[i].id}" class="card horizontal">                      
            <div class="card-stacked">
                <div class="card-content">
                    <div class="card-head"> ${data.open_appointments[i].desc} </div>
                    
                    <div class="address" style="margin-top: 12px">
                      ${data.open_appointments[i].date}
                    </div>
                </div>
                <div class="card-action">
                    <div>
                    
                    </div>
                </div>
            </div>
         
        </a>
    `;
      }

      showappointmentsHTML += `</div> <div id="closed_appointments"> <h5> Past Appointments </h5>`;

      for (let i = 0; i < data.closed_appointments.length; i++) {
        showappointmentsHTML += `
    <a href="/appointment/${data.closed_appointments[i].id}" class="card horizontal">                      
            <div class="card-stacked">
                <div class="card-content">
                    <div class="card-head"> ${data.closed_appointments[i].desc} </div>
                    
                    <div class="address" style="margin-top: 12px">
                      ${data.closed_appointments[i].date}
                    </div>
                </div>
                <div class="card-action">
                    <div>
                    
                    </div>
                </div>
            </div>
         
        </a>
    `;
      }


      showappointmentsHTML += "</div>"
      document.getElementById("Appointments").innerHTML = showappointmentsHTML;
      document.getElementById("Appointments").style.display = 'block';


    }).catch(err => {
      console.log("Error", err);
    });

  openPage('Appointments', document.getElementById("defaultOpen"));

</script>
{% endblock %}