{% extends 'layouts/base.html' %}

<!-- Profile.html for reference -->

{% block css %}

<link rel="stylesheet" href="/static/frontend/css/dashboard.css">

{% endblock %}

{% block body %}
<div class="main-profile">
  <div class="asked">

    DASHBOARD

    <div class="asked_footer">
      <ul>
        <li><button class="tablink" onclick="openPage('Appointments', this); " id="defaultOpen">Appointments</button>
        </li>

      </ul>
    </div>

    <div>

      <div id="Home" class="tabcontent">
        <div class="profile-content row">
          <div class="profile-left col s6">
            <div class="asked_profile">
              <div class="asked_profile-content">
                <img src="" id="pp" style="width:100%">
                <h3 id="show-name-here" style="margin-bottom: 4px;"></h3>
                <div class="rating"></div>
              </div>
            </div>
            <p id="show-phone-here"> <i class="material-icons prefix" style="vertical-align: middle;">phone</i></p>
          </div>
          <div class="profile-right col s6">
            <div id="rat-inp-con">
              Ratings given by me
              <div class="rating-input"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="doctor" id="Appointments">
        <!-- Cards will be added here by javascript -->
      </div>
    </div>

  </div>



</div>


{% endblock %}

{% block js %}

<script>
  let show_meds = false, show_beds = false, show_doctors = false;
  if (location.hash == "#About") {
    document.getElementById("leads-tab").click();
  } else if (location.hash == "#") {
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  }


  function openPage(pageName, elmnt) {
    console.log("Open page callsed");

    // Hide all elements with class="tabcontent" by default */
    // var i, tabcontent, tablinks;
    // tabcontent = document.getElementsByClassName("tabcontent");
    // for (i = 0; i < tabcontent.length; i++) {
    //   tabcontent[i].style.display = "none";
    // }

    location.hash = pageName;

    // Remove the background color of all tablinks/buttons
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].style.backgroundColor = "";
    }

    // Show the specific tab content
    document.getElementById(pageName).style.display = "block";

    // Add the specific color to the button used to open the tab content
    elmnt.style.backgroundColor = "#26a69a";
  }

  const db = firebase.firestore();
  const username = "{{username}}";
  const isMe = "{{ isMe }}";
  const loginuser = "{{ loginuser }}";

  var leadsData = [];

  // toggle function
  var data = {
    userid: username
  }
  var payload = {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
  }
  fetch(`/appointments/show_appointments`, payload)
    .then(res => res.json())
    .then(data => {
      console.log("all appointments data", data);
      const showappointments = data.open_appointments;
      console.log(showappointments)
      let showappointmentsHTML = "";

      for (let i = 0; i < showappointments.length; i++) {
        showappointmentsHTML += `
    <div class="card horizontal">                      
            <div class="card-stacked">
                <div class="card-content">
                    <div class="card-head"> ${data.open_appointments[i].desc} </div>
                    
                    <div class="address" style="margin-top: 12px">
                      ${data.open_appointments[i].date}
                    </div>
                </div>
                <div class="card-action">
                    <div>
                    
                    </div>
                </div>
            </div>
         
        </div>
    `;
      }

      document.getElementById("Appointments").innerHTML = showappointmentsHTML;
      document.getElementById("Appointments").style.display = 'none';


    }).catch(err => {
      console.log("Error", err);
    });



</script>
{% endblock %}