{% extends 'layouts/base.html' %}

{% block css %}
<style>
    #header {
        margin-bottom: 24px;
        display: flex;
        flex-flow: row;
    }

    .right {
        margin-left: auto;
    }

    @media (max-width: 600px) {
        #header {
            display: block;
        }

        #dash-btn {
            margin: 0 12px;
        }
    }

    .card-action {
        display: flex;
    }

    .modal-footer {
        display: flex;
        text-align: left;
        margin-bottom: 12px;
        border-top: 1px solid #7c7c7c;
    }

    .modal-footer .input-field {
        flex: auto;
    }

    #modal1 .modal-close {
        position: absolute;
        right: 12px;
        top: 24px;
        z-index: 1004;
    }

    #post-comments {
        margin: 8px 0;
        max-height: 400px;
        overflow: auto;
    }

    #post-comments .comment {
        padding: 4px 8px;
    }

    #post-comments .comment p {
        margin: 2px 0;
    }

    /* Style tab links */
    .tablink {
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 100%;
        background-color: var(--lightr-shade);
    }

    .tablink:hover {
        background-color: var(--normal-shade);
        ;
    }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: black;
        display: none;
        padding: 32px 20px;
        height: 100%;
    }
</style>
<link rel="stylesheet" href="/static/frontend/css/comments.css">

{% endblock %}

{% block body %}

<div id="main" class="container">
    <div id="find_loc" class="d-flex w-50">
        <div id="find_loc_heading">
            <h4>Diagnos</h4>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix"></i>
                        <select id="autocomplete-input-item">
                            <option value="" disabled selected>Choose Prescription</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix"></i>
                        <select id="autocomplete-input-state">
                            <option value="" disabled selected>Quantity</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <a id="close" class="waves-effect waves-light btn">Add Prescription</a>

        <br><br>

        <div id="loading-anim" style="text-align: center; display: none;">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <a id="find-btn" class="waves-effect waves-light btn">Close Appointment</a>
    </div> <!-- End of find loc -->

    <div id="leads-container" style="display: none;">
        <div style="display: flex;">
            <h4 id="leads-heading">Oxygen Clinders</h4>
            <div style="margin-left: auto; margin-top: 1.52rem;">
                <a class="btn waves-effect waves-light" href="/">Search another</a>
            </div>
        </div>

        <div id="leads-show" class="row"></div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class='wrapper-tab-btn-link'>
            <ul style="display: inline-flex;">
                <li><button class="tablink" onclick="openPage('reviews-tab', this)" id="defaultOpen">Comments</button>
                </li>
                <li><button class="tablink" id="leads-tab" onclick="openPage('upvotes-tab', this)"> Upvotes </button>
                </li>
                <li><button class="tablink" id="leads-tab" onclick="openPage('image-reviews-tab', this)"> Image Reviews
                    </button></li>
            </ul>
        </div>
        <div id="reviews-tab" class="tabcontent">


            <div class="modal-content">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                    <span class="material-icons">close</span>
                </a>
            </div>


            <div id="live-chat">
                <div class="chat">
                    <div id="post-comments" class="chat-history">

                    </div>
                </div>
            </div>

            <div id="comment-load" class="progress" style="margin: 0.5rem; display: none;">
                <div class="indeterminate"></div>
            </div>

            {% if(username) %}
            <form onsubmit="handleSendComment(event)" class="modal-footer">
                <div class="input-field inline">
                    <input id="comment_inline" type="text" class="validate">
                    <label for="comment_inline">Enter comment</label>
                </div>
                <button type="submit" class="submit waves-effect waves-green btn-flat">
                    <span class="material-icons" style="vertical-align: bottom;"> send </span>
                </button>
            </form>
            {% endif %}

        </div>

        <div id="upvotes-tab" class="tabcontent">
            <div class="modal-content">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                    <span class="material-icons">close</span>
                </a>
            </div>
            <div class="upvotes-tab-wrapper">
                <div class="votes-tab-names">
                    <h4>Upvoted by</h4>
                    <div style="overflow-y: scroll; height:100%">
                        <ul class="widget-list" id="upvoters">
                            <li>
                                <a class="widget-list-link">
                                    <img src="http://www.gravatar.com/avatar/47?f=y&amp;s=64&amp;d=identicon">
                                    Manager #1 <span>481 followers</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="votes-tab-names">
                    <h4>Downvoted by</h4>
                    <div style="overflow-y: scroll; height:100%">
                        <ul class="widget-list" id="downvoters">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="image-reviews-tab" class="tabcontent">
            <div class="modal-content">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                    <span class="material-icons">close</span>
                </a>
            </div>
            <div class="image-reviews-slideshow" id="review-images">
                <!-- Write code for image reviews image-reviews-slideshow -->
            </div>

            {% if(username) %}
            <form onsubmit="handleImageUpload(event)" class="modal-footer">
                <div class="input-field inline">
                    <div class="btn" style="margin-right: 12%;">
                        <span>Upload Review Image</span>
                        <input id="upload-review-image" type="file" accept="image/*">
                    </div>
                    <div class="file-path-wrapper">
                        <input id="pp-input" class="file-path validate" type="text">
                    </div>
                </div>
                <button type="submit" class="submit waves-effect waves-green btn-flat">
                    <span class="material-icons" style="vertical-align: bottom;"> send </span>
                </button>
            </form>
            {% endif %}
        </div>


    </div>

</div> <!-- End of main -->


{% endblock %}

{% block js %}

<script>

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    document.getElementById("close").onclick = function () { myFunction() };
    function myFunction() {
        document.getElementById("close").innerHTML = "YOU CLICKED ME!";

    }

    function openPage(pageName, elmnt) {
        console.log("Open page callsed");

        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }

        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";

        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = "#26a69a";
    }


    $('#live-chat header').on('click', function () {

        $('.chat').slideToggle(300, 'swing');
        $('.chat-message-counter').fadeToggle(300, 'swing');

    });

    $('.chat-close').on('click', function (e) {

        e.preventDefault();
        $('#live-chat').fadeOut(300);

    });

    const username = "{{ username }}";
    var leadsData = [];
    var globalCity = "";
    var globalState = "";
    var globalItem = "";
    var leadSelected = "";

    const byId = (id) => { return document.getElementById(id); }

    function showAnimation() {
        $("#loading-anim").css("display", "block");
        $("#find-btn").css("display", "none");
    }

    function hideAnimation() {
        $("#loading-anim").css("display", "none");
        $("#find-btn").css("display", "block");
    }

    $(document).ready(function () {
        $('#autocomplete-input-city').autocomplete({
            data: {
                "Apple": null,
                "Microsoft": null,
                "Google": null
            },
        });

        handleModalClose = () => {
            console.log("Modal close");

            window.firebaseCommentsListener();
        }

        $('.modal').modal({
            onCloseStart: function () { handleModalClose(); }
        });

        $('select').formSelect();

        $('select').on('contentChanged', function () {
            $(this).formSelect();
        });

        openModal = (index, e) => {
            console.log("index", index);

            leadSelected = leadsData[index].leadId;
            // Set the data here

            var instance = M.Modal.getInstance(document.getElementById("modal1"));
            instance.open();
        }

        $("#autocomplete-input-item").on('change', function () {
            const itemSelected = $(this).val();

            // Update the heading
            byId("leads-heading").innerHTML = itemSelected;

            globalItem = itemSelected;

            // We need to find the number of subcollections from python
            const data = { item: itemSelected };

            showAnimation();
            //fetch the Doctor data from backend
            fetch('/get_states', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);

                    var optionsToAdd = ""; //<option value=\"\" disabled selected>Choose State</option>

                    // Update the city
                    $("#autocomplete-input-city").html(optionsToAdd);
                    $("#autocomplete-input-city").trigger('contentChanged');

                    data.states.forEach((val) => {
                        // console.log(doc.id, " => ", doc.data());
                        optionsToAdd += "<option value=\"" + val + "\"> " + val + " </option>"
                    });

                    // Now update the options
                    $("#autocomplete-input-state").html(optionsToAdd);
                    $("#autocomplete-input-state").trigger('contentChanged');

                })
                .catch((error) => {
                    console.error('Error:', error);
                }).finally(() => {
                    hideAnimation();
                });
        });

        $("#autocomplete-input-state").on('change', function () {
            const itemSelected = $(this).val();
            globalState = itemSelected;

            showAnimation();

            db.collection("Inventory").doc(globalItem).collection(globalState).get()
                .then((querySnapshot) => {

                    console.log("Query snapshot of city");
                    // Loop in each query snapshot and add options in autocomplete-input-item

                    var optionsToAdd = "<option value=\"\" disabled selected>Choose City</option>";

                    querySnapshot.forEach((doc) => {
                        // console.log(doc.id, " => ", doc.data());
                        optionsToAdd += "<option value=\"" + doc.id + "\"> " + doc.id + " </option>"
                    });

                    // Now update the options
                    $("#autocomplete-input-city").html(optionsToAdd);
                    $("#autocomplete-input-city").trigger('contentChanged');
                })
                .catch((err) => {
                    console.log("Error came while fetching data", err);
                }).finally(() => {
                    hideAnimation();
                });

        });
    });

</script>

{% endblock %}